*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* INDEX */
/* ------------.............-----HEADER---------................------- */

.header {  display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.6fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "section menuSuperior"
      "section menuInferior";
      background-color: rgba(0, 32, 96);
  }

  .section {
    grid-area: section;
    display: flex;
    flex-direction: column;

}


.section img{
    border-radius: 10%;
    position: relative;
    height: 60px;
    margin: 10px 10px 5px 20px;
}

.section div{
    display: flex;
    align-items: flex-end;

}

.section h2{
    font-family: cursive;
    font-size: 20px;
    color: white;
    align-items: center;
    position: relative;
    top: -14px;
    left: 1px;

}

.section h1{
    color: orange;
    position: relative;
    font-size: 23px;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 0px 0px 0px;

}

  .menuSuperior {
    grid-area: menuSuperior;
    color: rgb(224, 138, 25);
    display: flex;
    justify-content: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 10px 0 0 0;

}

  .menuInferior {
    grid-area: menuInferior;
    display: flex;
    justify-content: end;

}

.menuInferior a{
    color: white;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-decoration: none;

}


.menuInferior a:hover{
    color: orange;
    border-radius: 10%;
}


.header ul{
    display: flex;
    list-style: none;
        }

.header li{
    margin: 0px 40px;
    margin: 10px 30px;
    font-size: 14px;

}



/* -------.....................-BODY------.................--------- */
.main{
    width: auto;
    height: 540px;
}

.grillaIndex {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.55fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "consultoria contratista tecnologia capacitacion";

    color: rgb(0, 32, 96);
    margin: 40px 0 0 0 ;
  }

  .grillaIndex p{
      width: 250px;
  }

  .consultoria {

    grid-area: consultoria;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

  .contratista {

    grid-area: contratista;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0 ;

}

  .tecnologia {

    grid-area: tecnologia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

  .capacitacion {

    grid-area: capacitacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.main h2{
    margin: 60px 0 0 0;
    position: relative;
    left: 40vw;
    color: rgb(0, 32, 96);
}


.main img{
    width: 250px;
    height: 290px;
    border-radius: 10%;
    padding: 1px;
    box-shadow: 0 10px 10px gray;
    cursor: pointer;


}



/* ------------------------------FOOTER-------------------------- */
.footer{
    width: auto;
    height: 100px;
}

 .footer div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    height: 100px;
}


.footer img{
    width: auto;
    height: 50px;
}



/* CONTRATISTA */


.mainContratista{
    width: auto;
    height: 540px;
}


.grillaContratista {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.55fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "desarrollo explotacion contrat fabricacion";

    color: rgb(0, 32, 96);
    margin: 40px 0 0 0 ;
  }

  .grillaContratista p{
      width: 250px;
  }

  .desarrollo {
    grid-area: desarrollo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

  .explotacion {
    grid-area: explotacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

  .contrat {
    grid-area: contrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

  .fabricacion {
    grid-area: fabricacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.mainContratista img{
    width: 250px;
    border-radius: 10%;
    padding: 1px;
    box-shadow: 0 10px 10px gray;
}

.mainContratista p{
    width: 250px;
}



.mainContratista h2{
    margin: 60px 0 0 0;
    position: relative;
    left: 40vw;
    color: rgb(0, 32, 96);
}


/* CONSULTORIA */

.consultoriaMain{
    height: 540px;
    width: auto;
}

.consultoriaMain h2{
    margin: 60px 0;
    position: relative;
    left: 40vw;
    color: rgb(0, 32, 96);
}

.consultoriaSection{
    display: flex;
    justify-content: space-evenly;

}

.consultoriaSection p{
    width: 30vw;
}
.consultoriaSection img{
    height: 300px;
    width: 400px;
}

.consultoriaSection article{
    display: flex;
    flex-direction: column;
    align-items: center;
       
}

/* TECNOLOGIA */
.mainTecnologia{
    height: 540px;
    width: auto;
}

.mainTecnologia h2{
    color: rgb(0, 32, 96);
    margin: 60px 0;
    position: relative;
    left: 30vw;
}

.mainTecnologia img{
    margin: 10px 0;
    position: relative;    
    height: 375px;    
}

.mainTecnologia div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}

.mainTecnologia p{
    width: 500px;
}

/* CAPACITACION */
.capacitacionMain{
    width: auto;
}

.capacitacionMain div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.capacitacionMain article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capacitacionMain h2{
    margin: 60px 0 60px 0;
    position: relative;
    left: 40vw;
    color: rgb(0, 32, 96);
}

.capacitacionMain img{
    margin: 30px 30px;
}



/* CONTACTANOS */
.mainContactanos{
    width: 1280px;
}

.mainContactanos h2{
    margin: 60px 0 60px 0;
    position: relative;
    left: 350px;
    color: rgb(0, 32, 96);
}

.mainContactanos div{
    display: flex;
    justify-content: space-around;
}

.seccionContactanos form{
    display: flex;
    flex-direction: column;
    background-color: blue;
        
}
.consulta{
    height: 300px;
}

.seccionContactanos{
    padding: 5px;
}

/* ----------------------------------RESPONSIVE-------------- */


@media(max-width:1024px){

/* Contratista */

    .grillaContratista {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.55fr 0.55fr;
        gap: 0px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          "desarrollo explotacion"
          "contrat fabricacion";

        color: rgb(0, 32, 96);
        margin: 40px 0 0 0 ;
      }

      .mainContratista{
          height: 750px;
      }

      .fabricacion h3{
          width: 270px;

      }

      .mainContratista h2{
          position: relative;
          left: 130px;
      }


/* header */
.menuInferior a{
  
    font-size: 15px;
   
} 

.menuInferior li{
    width: 30px;
}

.menuInferior ul{
    position: relative;
    left: -100px;
}

/* index */

.grillaIndex {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.55fr 0.55fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "consultoria contratista"
      "tecnologia capacitacion";

    color: rgb(0, 32, 96);
    margin: 40px 0 0 0 ;
  }

  .main h2{
      position: relative;
      left: 50px;
  }

  .main{
      height: 950px;
  }

  /* Consultoría */
 

    .consultoriaMain h2{   
        position: relative;
        left: 20vw;
    }


    .consultoriaSection p{
        width: 200px;
        position: relative;
        left: 15px;
    }
    .consultoriaSection img{
        height: 200px;
        width: 200px;
    }

    .consultoriaSection{
        position: relative;
        left: -50px;
        
    }

    /* Footer */
    .footer img{
        width: auto;
        height: 15px;
    }

    .footer p{
        font-size: 5px;
        color: rgb(0, 32, 96);
    }

    .footer{
        height: 20px;
    }

    .footer div{
        height: 20px;
        width: 90vw;
        
    }

    /* contactanos */

    .mainContactanos{
        height: auto;
    }


    .mainContactanos h2{
        position: relative;
        left: 80px;
        width: 40vw;
    }

    .mainContactanos div{
        flex-direction: column;
    }

    .mainContactanos iframe{
        width: 50vw;
        height: 20vh;
        position: relative;
        left: 12px;
        border-radius: 50%;
        
    }

    .mainContactanos h3{
        position: relative;
        left: 22vw;
    }

    .seccionContactanos h3{
        position: relative;
        left: 15vw;
    }

    .seccionContactanos form{
        width: 45vw;
        position: relative;
        left: 30px;
    }

    /* tecnología */

    .mainTecnologia{
        height: auto;
    }
    .mainTecnologia h2{
        position: relative;
        left: 20px;
        width: 70vw;
    }

    .mainTecnologia p{
        position: relative;
        left: -100px;
        width: 60vw;
    }
    .mainTecnologia img{
        position: relative;
        left: -100px;
        width: 60vw;
    }

    

   

}


@media(max-width:768px){
    /* -------------INDEX ---------------*/

    /* HEADER */

    .header {  display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 0.2fr 0.6fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "section menuInferior"
        "menuSuperior menuInferior";

      }

      .section img{
        height: 60px;
        margin: 40px 2px 5px 15px;
        position: relative;
        left: -10px;
    }

      .section div{
        display: flex;
        flex-direction: column;

    }

    .section h2{
        font-size: 18px;
        top: -5px;
        left: -40px;

    }

    .section h1{
        color: orange;
        position: relative;
        font-size: 20px;
        left: 20px;
        margin: 10px 0 0 0;

    }

    .menuSuperior li{
        position: relative;
        left: 30px;
    }

      .menuInferior {
        grid-area: menuInferior;
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    .menuInferior a{
        color: white;
        font-size: 16px;
        margin: 0 10px 0 150px;


    }


    .menuInferior a:hover{
        color: orange;
        border-radius: 10%;
    }

    .menuInferior li{
        height: 40px;
    }

    .header ul{
        display: flex;
        flex-direction: column;
        list-style: none;
    }


    /*index*/

    .grillaIndex {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.55fr 0.55fr 0.55fr 0.55fr;
        gap: 0px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          "consultoria"
          "contratista"
          "tecnologia"
          "capacitacion";

        color: rgb(0, 32, 96);
        margin: 40px 0 0 0 ;
      }

      .main{

        height: 2000px;
        width: 80vw;
    }

    .main h2{
        left: 20px;

    }

    .header h1{
       height: 100px;

    }


    /* footer */
    .footer img{
        width: auto;
        height: 15px;
    }

    .footer p{
        font-size: 5px;
        color: rgb(0, 32, 96);
    }

    .footer{
        height: 20px;
    }

     .footer div{
        height: 20px;
    }

     /* contratista*/

      .grillaContratista {  display: grid;
        grid-template-columns: 80vw;
        grid-template-rows: 0.55fr 0.55fr 0.55fr 0.55fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          "desarrollo"
          "explotacion"
          "contrat"
          "fabricacion";

        color: rgb(0, 32, 96);
        margin: 40px 0 0 0 ;

      }

      .mainContratista{

        height: 2000px;
        width: 100vw;
    }

    .mainContratista h2{
        left: 20px;
        margin: 60px 100px 0 10px;
        position: relative;
        left: 30px;
    }

    .fabricacion h3{
        width: 60vw;
    }

    .grillaContratista p{
        margin: 10px 0 0 0;
    }

    /* consultoría */

    .consultoriaMain h2{
        position: relative;
        left: 5px;
               
    }

    .consultoriaSection{
        flex-direction: column;
        position: relative;
        left: 10px;
        
    }

    .consultoriaMain{
        height: auto;
    }

    .consultoriaSection article{
        padding: 30px 0;
    }

    /* capacitación */

    .capacitacionMain h2{
        position: relative;
        left: 80px;
    }

      /* contactanos */

      
    .mainContactanos h2{
        position: relative;
        left: 80px;
        width: 70vw;
    }
    
    .mainContactanos iframe{
        width: 80vw;
        height: 20vh;
        position: relative;
        left: 23px;
        border-radius: 50%;
        
    }

    .mainContactanos h3{
        position: relative;
        left: 35vw;
    }

    .seccionContactanos h3{
        position: relative;
        left: 25vw;
    }

    .seccionContactanos form{
        width: 75vw;
        position: relative;
        left: 35px;
    }
    
     /* tecnología */

  
    
     .mainTecnologia h2{
        position: relative;
        left: 30px;
        width: 60vw;
    }

    .mainTecnologia p{
        position: relative;
        left: -65px;
        width: 60vw;
    }
    .mainTecnologia img{
        position: relative;
        left: -65px;
        width: 60vw;
    }



}


@media(max-width:425px){
    /* -------------INDEX ---------------*/

    /* HEADER */



      .section img{


        position: relative;
        left: 8px;
    }

    .section h2{

        left: -35px;

    }

    .section h1{

        left: 10px;

    }

    .superior li{
        margin: 0 0 0 10px;
        font-size: 13.5px;
    }

    .menuInferior li{
        height: 30px;
    }

    .menuInferior ul{
        margin: 30px 0 0 -35px ;
    }


    /* MAIN-INDEX */

    .grillaIndex img{
        height: 290px;
        margin: 0 45px 0 0;
    }

    .grillaIndex p{
        margin: 0 45px 0 0;

    }

    /* -------------CONTRATISTA ---------------*/

    .mainContratista{
        height: 2000px;
    }
    .grillaContratista img{
        height: 290px;
        width: 350px;
        margin: 0 -45px 0 0px;
    }

    .grillaContratista p{
        width: 350px;
        margin: 15px -45px 0 0px;
        font-size: 21px;
    }

    /* consultoría */
    .consultoriaMain h2{
        width: 90vw;
        position: relative;
        left: 35px;
    }

     /* capacitación */

     .capacitacionMain h2{
        position: relative;
        left: 40px;
    }

    .capacitacionMain div{
        position: relative;
        left: 65px;
    }

     /* contactanos */

      
     .mainContactanos h2{
        position: relative;
        left: 50px;
        width: 80vw;
    }
    
    .mainContactanos iframe{
        width: 90vw;
        height: 20vh;
        position: relative;
        left: 23px;
        border-radius: 50%;
        
    }

    .mainContactanos h3{
        position: relative;
        left: 40vw;
    }

    .seccionContactanos h3{
        position: relative;
        left: 25vw;
    }

    .seccionContactanos form{
        width: 82vw;
        
    }

    /* tecnología */

  
    
    .mainTecnologia h2{
        position: relative;
        left: 30px;
        width: 60vw;
    }

    .mainTecnologia p{
        position: relative;
        left: -45px;
        width: 50vw;
    }
    .mainTecnologia img{
        position: relative;
        left: -55px;
        width: auto;
        
    }


   

    
}
